/* @import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300&family=Amiri&family=Marhey&family=Noto+Naskh+Arabic&family=Rakkas&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&family=Tajawal:wght@500&display=swap');
/*
 font-family: 'Noto Sans Arabic', sans-serif;
font-family: 'Tajawal', sans-serif; */
/* 
font-family: 'Alexandria', sans-serif;
font-family: 'Amiri', serif;
font-family: 'Marhey', cursive;
font-family: 'Noto Naskh Arabic', serif;
font-family: 'Rakkas', cursive;

*/
html {
    scroll-behavior: smooth !important;
    direction: rtl !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    text-transform: capitalize !important;
    font-family: 'Tajawal', sans-serif !important; 

}


:root {
    --main-color:#001F3F;
    --sec-color:#03478E;
    --select-color:rgb(38, 0, 255);
}
z



body{ 
     background-color: #fff;
    
 }

body::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0.897);
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #ff6004 !important;
    outline: 1px solid slategrey;
}

.typed-cursor {
    display: none !important;
}


/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
.header {
    width: 100%;
    height: 100vh;
    position: relative;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/baners/bc.webp") no-repeat center center ;
    background-size: cover; */
}

.navbar {
    width: 90%;
    margin: 0 auto !important;
    padding: 20px 5px;
    z-index: 11;
    /* position: relative; */
    border-radius: 20px;
    

}

.nav-link {
    text-transform: uppercase !important;
    font-size: 15px;
    /* font-family: 'Noto Naskh Arabic', serif !important; */
    font-family: 'Tajawal', sans-serif;
    margin: 5px;
    color: #9f9f9f!important;
    /* color: #00A651!important; */
    font-weight: 500;
    transition: all 0.1s ease;
    box-sizing: border-box;
    padding: 0 ;
}
.nav-link.active{
    color: var(--main-color) !important;
}

.loginlink{
    background: #ff6416;
    color: #fff !important;
    border-radius: 10px;
}

.nav-link:hover {
    color: var(--main-color) !important;
    transition: 0.5s;
}


/* //////////////////////*/
.welcomediv {
    color: white;
    margin-top: 80px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) !important; */
}


.welcomediv h1 {
    font-size: 60px;
    color: var(--main-color);
    font-weight: 900;
    font-family: 'Tajawal', sans-serif !important;
}

.welcomediv h2 {
    font-size: 40px;
    color: var(--main-color);
    font-weight: 200;
    font-family: 'Tajawal', sans-serif !important;
}


.welcomediv h3 {
    /* letter-spacing: 5px; */
    color: #666666;
    display: inline;
    font-weight: 200;
    font-family: 'Noto Sans Arabic', sans-serif !important;
    font-size: 18px;
    line-height: 40px;

}

.welcomediv p {
    /* letter-spacing: 2.5px; */
    color: var(--main-color);
    margin-top: 20px;


}

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.About{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden !important;
   
}


.knowMorePart {
    background-color: #fef9f6;
    font-family: 'Tajawal', sans-serif;
  }
  .custom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 50px 20px; */
  }

  .text-box h2 {
    font-size: 50px;
    color: var(--main-color);
    font-weight: 900;
    font-family: 'Tajawal', sans-serif !important;
    text-align: right !important;
  }
  .text-box p {
    color: #000;
    font-weight: 400;
    font-family: 'Noto Sans Arabic', sans-serif !important;
    text-align: right !important;
    font-size: 16px;

}

  .info-box {
    background-color: #f9f4f1;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .info-box .image-box {
    height: 300px;
    background-color: #f2edea;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-box .btn {
    background-color: #c1c1c1;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
  }


.aboutSectionImages{
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
    url("../images/baners/54512.png") no-repeat center center ;
    background-size: cover;
}

  .about-inner{
    width: 100%;
    height: auto;
    background-color: transparent;
    text-align: right;
}
.about-dataSection  {
    padding: 0 100px !important;
    margin-top: 250px !important;
}


.about-dataSection h1 {
    font-size: 70px;
    color: var(--main-color);
    font-weight: 900;
    font-family: 'Tajawal', sans-serif !important;
}
.about-dataSection h3 {
    color: #000;
    display: inline;
    font-weight: 400;
    font-family: 'Noto Sans Arabic', sans-serif !important;
    font-size: 25px;
    line-height: 40px;
}


/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */


.goals{
    width: 100%;
    height: auto;
    background-color: #fef9f6 !important;
    padding-bottom: 100px;
}

.employment{
    border-radius: 40px;
    background-color: #fff;
}


.cardimages {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background-color:#F7853F !important; */
}

.showmoreBtn {
    padding: 10px;
    background-color: #F36914 !important;
    border: none !important;
    color: #fff;
    font-weight: 400;
}
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */

     
        .steps-section {
            background-color: #eaf6ff;
            padding: 50px 0;
        }
        .step-box {
            text-align: center;
            padding: 20px;
            /* background: #fff; */
            /* border: 1px solid #ddd; */
            border-radius: 10px;
            position: relative;
        }
        .step-box h1 {
            font-size: 1.9rem;
            font-weight: bold;
            margin-top: 15px;
            color: var(--main-color);
        }
        .step-box p {
            font-size: 0.9rem;
            color: #555;
        }
        .step-box .icon {
            font-size: 2rem;
            color: #002855;
        }
        .step-arrow {
            font-size: 1.5rem;
            color: #ff7f27;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .step-arrow-left {
            left: -20px;
        }
        .step-arrow-right {
            right: -20px;
        }

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */

.stats-section {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #ffe9d6;
    text-align: center;
    padding: 40px 0;
}
.stats-section h1 {
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--main-color);
}

.stats-section h2 {
    font-size: 4.2rem;
    font-weight: bolder;
    color: var(--main-color);

}

.stats-section p {
    font-size: 1.2rem;
    font-weight: 200;
}

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */


.cta-section {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    padding: 100px 0;
}

.cta-section h1 {
    font-size: 3.9rem;
    font-weight: bolder;
    color: var(--main-color);
    padding: 10px 0;
}

.cta-section p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--main-color);
    padding: 30px 0;

}

.cta-btn {
    background-color: #ff7f27;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 50px !important;
}

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.footer {
    background-color: var(--main-color);
    color: #ffffff;
    padding: 40px 0;
}
/* .footer h6 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
} */
.footer p {
    font-size: 0.9rem;
    color: #cbd5e0;
    
}
.footer a {
    color: #cbd5e0;
    text-decoration: none;
    font-size: 0.9rem;
    
}
.footer a:hover {
    text-decoration: underline;
}
.footer .social-icons a {
    color: #ffffff;
    margin-right: 10px;
    font-size: 1.2rem;
}
.footer .social-icons a:hover {
    color: #ff7f27;
}






/* 

/* //////////////////////   responsive   //////////////////// */
/* //////////////////////   responsive   //////////////////// */
/* //////////////////////   responsive   //////////////////// */
/* //////////////////////   responsive   //////////////////// */
/* 1199 */
@media screen and (max-width: 1200px) {
    .header {
        height: auto;
        padding-bottom: 100px;
    }

    .nav-link {
        font-size: 17px !important;
        font-weight: 400 !important;
    }

    .fa-bars{
        color: #000;
    }
    
    .Left_Section,
    .Right_Section{
       padding-left: 0 !important;
       padding-right: 0 !important;
       padding-top: 20px;
    }

   .text-box h2{
       font-size: 25px;
       text-align: right !important;
       line-height: 30px;
   }


   .aboutSectionImages{
       padding: 0px !important;
       padding-top: 0;
   }
   .about-dataSection  {
       /* padding: 60px !important; */
       padding: 0 60px !important;
       margin-top: 50px !important;

   }
   .about-dataSection h1 {
       font-size: 40px;
       text-align: right !important;
   }

   .about-dataSection h3 {
       font-size: 20px;
       text-align: right !important;
       display: block;
   }
   


    .cardboxContainer{
        width: 100% !important;
        padding: 0px !important;
    }
    .cardboxsSide{
        padding: 0px !important;
        /* margin-right: 30px !important; */

    }
    .cardbox{
        padding: 0px !important;
        padding-top: 20px !important;
        margin: 0 !important;
        
    }
    .employment{
        width: 100% !important;
    }
    .cardimages {
        width: 70px;
        height: 70px;
        line-height: 60px;

    }

    .cardimages img{
        width:40px;
    }


    .statisticsunits{
        border: none !important;
    }



    .footer img {
        width: 150px;
    }

}

/* /////////////////////////////////////////////// */

@media screen and (max-width: 991px) {
    

}

/* /////////////////////////////////////////////// */

@media screen and (max-width: 767px) {
    


    .header {
        height: auto;
        padding-bottom: 100px;
    }
    .navbar {
        background-color: transparent;
        padding: 20px 20px;
        padding: 0px 5px !important;
    }
    .fa-bars{
        color: #000;
    }
    .navbar .nav-link {
        padding: none !important;
    }

    .navbar-brand img {
        margin-right: 0px !important;
    }
    .welcomediv {
        text-align: center;
        padding: 40px;
    }
    .welcomediv h1 {
        font-size: 30px;
        text-align: right !important;

    }

    .welcomediv h2 {
        font-size: 25px;
        text-align: right !important;

    }

    .welcomediv h3 {
        font-size: 25px;
        text-align: right !important;
        line-height: 30px;

    }

    /* .welcomediv p {
        width: 100% !important;
        text-align: center !important;

    } */






     .Left_Section,
     .Right_Section{
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 20px;
     }

    .text-box h2{
        font-size: 25px;
        text-align: right !important;
        line-height: 30px;
    }


    .aboutSectionImages{
        padding: 0px !important;
        padding-top: 0;
    }
    .about-dataSection  {
        /* padding: 60px !important; */
        padding: 0 60px !important;
        margin-top: 50px !important;

    }
    .about-dataSection h1 {
        font-size: 40px;
        text-align: right !important;
    }

    .about-dataSection h3 {
        font-size: 20px;
        text-align: right !important;
        display: block;
    }
    



    .sections-titles h1,
    .sections-titles h2 {
        text-align: center !important;
        font-weight: bold;
    }

    .cardboxContainer{
        width: 100% !important;
        padding: 0px !important;
    }
    .cardboxsSide{
        padding: 0px !important;
        /* margin-right: 30px !important; */

    }
    .cardbox{
        padding: 0px !important;
        padding-top: 20px !important;
        margin: 0 !important;
        
    }
    .employment{
        width: 100% !important;
    }
    .cardimages {
        width: 70px;
        height: 70px;
        line-height: 60px;

    }

    .cardimages img{
        width:40px;
    }
    .ServiciesParts{
        width: 33.333% !important;
        padding: 0 !important;

    }

    

    .stepsContainer{
        width: 100% !important;
    }

    .stepsContainer {
        width: 100% !important;
    }




    .statisticsunits{
        border: none !important;
    }

    .stats-section h1 {
        font-size: 2.2rem;
    
    }
    
    .stats-section h2 {
        font-size: 2.2rem;
    
    
    }
    
    .stats-section p {
        font-size: 1rem; 
    }



    .cta-section h1{
        font-size: 2.2rem;
    }

    .cta-section p{
        font-size: 1.5rem;
        margin-top: 0px !important;
    }
}


@media screen and (max-width: 575px) {

.waveheader {
        top: 97% !important;
        left: 0%;
    }
    .goal {
        width: 100%;
        height: auto;
        background-color: #FCF9ED;
        padding-bottom: 65px !important;
    }
    .testemonials {
        width: 100%;
        height: auto;
        background-color: #E2F8EB;
        padding-bottom: 65px !important;
    }
    .doc-photo-marg {
        margin-top: -45px !important;
    }
    .servces_overlay h4{
        font-size: 12px;
    }

    .servces_overlay p{
        font-size: 12px;
    }
    .butn2{
        font-size: 10px;
    }
    
}

@media screen and (max-width: 362px) {
    .waveheader {
        top: 97% !important;
        left: 0%;
    }
    .goal {
        width: 100%;
        height: auto;
        background-color: #FCF9ED;
        padding-bottom: 65px !important;
    }
    .testemonials {
        width: 100%;
        height: auto;
        background-color: #E2F8EB;
        padding-bottom: 65px !important;
    }
    .doc-photo-marg {
        margin-top: -45px !important;
    }

}